.countcapcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 1em;
    gap: 1em;
}

.countcap {
    cursor: pointer;
    height: 100px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 1em;
    transition: .3s ease-in-out;
    font-size: 16pt;
    font-weight: 500;
}

.congrulations {
    cursor: pointer;
    margin: 0 auto;
    margin-top: 15%;
    color: #fff;
    font-size: 18pt;
    font-weight: 500;
    border-radius: 50%;
    background-color: #d33649;
    padding: 0.7em;
}
